#header {

    width: 100%;
    justify-content: center;
    margin: 40px auto;

}

label, labels {
    float: right;
}

#familyName {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

